doctype html
html(lang="ru")
  head
    meta(charset='UTF-8')
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width")
    title Школа перспективных исследований
  body
    main
      div(class="background")
        div(class="screen__filter")
      div(class="progress" id="progress")
        div(class="progress__bar" id="progress__bar")
      section(class="hello-screen" id="hello-screen")
        header(class="header")
          div(class="logo")
            img(class="logo__img" src="/assets/SAS__logo_small_blue.png")
          div(class="contacts-block")
            div(class="social")
              ul(class="social__list")
                li(class="social__list-item icon-vkontakte-1")
                li(class="social__list-item icon-facebook-1")
                li(class="social__list-item icon-instagram")
            div(class="contacts")
              ul(class="contacts__list")
                li(class="contacts__list-item") sas@utmn.ru
                li(class="contacts__list-item") +7 911 11 11 11
        h1(class="h1") Школа перспективных исследований запускает программу открытых лекций. Пройди наш тест и получи рекомендацию экспертов о том, какой киношедевр тебе подходит
        button(class="button" id="start-button") Начать тест
      section(class="test-screen" id="test-screen-1")
        h2(class="h2") Выбери по два курса из каждого списка:
        div(class="test-row")
          div(class="arrow arrow_left")
          ul(class="list")
            li(class="list-item" id="1")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") «Царский недуг»: депрессия в литературе. Джон Тангни
              p(class="list-item__description") Топ лучших способов потери смысла жизни по версии мировой литературы.
            li(class="list-item" id="2")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") «Эпоха тотальной войны» – глобальный конфликт в коротком 20-м веке, 1914–1991 гг. 
              p(class="list-item__description") Чем мировая война отличается от обычной? И когда начнется третья? 
  
            li(class="list-item" id="3")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") Наука и религия: конфликт неизбежен?
              p(class="list-item__description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id 
            li(class="list-item" id="4")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") Наука и религия: конфликт неизбежен?
              p(class="list-item__description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id
            li(class="list-item" id="5")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") Наука и религия: конфликт неизбежен?
              p(class="list-item__description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id
            li(class="list-item" id="6")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") Наука и религия: конфликт неизбежен?
              p(class="list-item__description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id
          div(class="arrow arrow_right")
      section(class="test-screen" id="test-screen-2")
        h2(class="h2") Выбери по два курса из каждого списка:
        div(class="test-row")
          div(class="arrow arrow_left")
          ul(class="list")
            li(class="list-item" id="7")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") Lorem ipsum dolor sit amet?
              p(class="list-item__description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id  
            li(class="list-item" id="8")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") Lorem ipsum dolor sit amet?
              p(class="list-item__description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id   
            li(class="list-item" id="9")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") Lorem ipsum dolor sit amet?
              p(class="list-item__description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id 
            li(class="list-item" id="10")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") Lorem ipsum dolor sit amet?
              p(class="list-item__description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id
            li(class="list-item" id="11")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") Lorem ipsum dolor sit amet?
              p(class="list-item__description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id
            li(class="list-item" id="12")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") Lorem ipsum dolor sit amet?
              p(class="list-item__description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id
          div(class="arrow arrow_right")
      section(class="test-screen" id="test-screen-3")
        h2(class="h2") Выбери по два курса из каждого списка:
        div(class="test-row")
          div(class="arrow arrow_left")
          ul(class="list")
            li(class="list-item" id="13")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") Nulla quam velit, vulputate eu pharetra nec?
              p(class="list-item__description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id  
            li(class="list-item" id="14")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") Nulla quam velit, vulputate eu pharetra nec?
              p(class="list-item__description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id   
            li(class="list-item" id="15")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") Nulla quam velit, vulputate eu pharetra nec?
              p(class="list-item__description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id 
            li(class="list-item" id="16")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") Nulla quam velit, vulputate eu pharetra nec?
              p(class="list-item__description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id
            li(class="list-item" id="17")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") Nulla quam velit, vulputate eu pharetra nec?
              p(class="list-item__description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id
            li(class="list-item" id="18")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") Nulla quam velit, vulputate eu pharetra nec?
              p(class="list-item__description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id
          div(class="arrow arrow_right")
      section(class="test-results" id="test-results")
        h2(class="h2") Ваш результат:
        ul(class="list list_results")
          li(class="list-item list-item_results")
            div(class="list-item__header-wrapper")
              img(class="list-item__img list-item__img_results" src="assets/thereisnogod.png")
              h4(class="list-item__header") "К северу через северо-запад", Альфред Хичкок
            p(class="list-item__description") Приключенческо-шпионский триллер 1959 года, по стилистике предвосхищающий фильмы «бондианы»
          li(class="list-item list-item_results")
            div(class="list-item__header-wrapper")
              img(class="list-item__img list-item__img_results" src="assets/thereisnogod.png")
              h4(class="list-item__header") "К северу через северо-запад", Альфред Хичкок
            p(class="list-item__description") Приключенческо-шпионский триллер 1959 года, по стилистике предвосхищающий фильмы «бондианы»      
        div(class="share")
          div(class="share-results")
            h3(class="h3 h3_align-left h3_margin10") Поделиться:
            div(class="social")
              ul(class="social__list social__list_margin10")
                li(class="social__list-item icon-vkontakte-1")
                li(class="social__list-item icon-facebook-1")
            div(class="subscribe")
              div(class="vk-subcribe")
                h3(class="h3 h3_align-left h3_margin10") Вступай в нашу группу в ВК и узнавай первым о предстоящих лекциях:
                img(style="margin:10px 20px; width:300px;height:200px;" src="assets/gruppa_Vkontakte-6.gif")
          div(class="email-subscribe")
            h3(class="h3 h3_align-left") Подпишись на рассылку Школы:
            form(class="form-subscribe" action="/subscribe" method="post")
              label(class="form-subscribe__label") E-mail
                input(class="form-subscribe__input" type="email" name="email" required="true")
              input(id="agreement-checkbox" type="checkbox")
              label(for="agreement-checkbox" class="form-subscribe__label") Я даю согласие на обработку своих персональных данных
              input(class="form-subscribe__submit button" type="submit" value="Подписаться")
