doctype html
html(lang="ru")
  head
    meta(charset='UTF-8')
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    title Школа перспективных исследований
    script function canUseWebP(){var e=document.createElement("canvas");return 0==e.toDataURL("image/webp").indexOf("data:image/webp")}var webpSupport=canUseWebP(),dummyImg=document.createElement("img");webpSupport?window.outerWidth>800?(dummyImg.src="assets/blackboard.webp",dummyImg.onload=function(){document.styleSheets[0].insertRule('.hello-screen::before,.presentation-screen::before{background:url("assets/blackboard.webp"); background-size:cover}',document.styleSheets[0].cssRules.length),document.getElementById("load").style.visibility="hidden"}):(dummyImg.src="assets/blackboard.jpg",dummyImg.onload=function(){document.styleSheets[0].insertRule('.hello-screen::before,.presentation-screen::before{background:url("assets/blackboard.jpg"); background-size:cover}',document.styleSheets[0].cssRules.length),document.getElementById("load").style.visibility="hidden"}):window.outerWidth>800?(dummyImg.src="assets/blackboard.gif",dummyImg.onload=function(){document.styleSheets[0].insertRule('.hello-screen::before,.presentation-screen::before{background:url("assets/blackboard.gif"); background-size:cover}',document.styleSheets[0].cssRules.length),document.getElementById("load").style.visibility="hidden"}):(dummyImg.src="assets/blackboard.jpg",dummyImg.onload=function(){document.styleSheets[0].insertRule('.hello-screen::before,.presentation-screen::before{background:url("assets/blackboard.jpg"); background-size:cover}',document.styleSheets[0].cssRules.length),document.getElementById("load").style.visibility="hidden"});
  body
    div(class="progress" id="progress")
      div(class="progress__bar" id="progress__bar")
    div(class="load" id="load")
      div(class="load__circle")
    main(id="fullpage")
      section(class="hello-screen mustLoad section" id="hello-screen" data-anchor="start")
        header(class="header")
          div(class="logo")
            img(class="logo__img" src="/assets/SAS__logo_small_blue.png")
          div(class="contacts-block")
            div(class="social")
              ul(class="social__list")
                li(class="social__list-item icon-vkontakte-1")
                  a(class="social__a" href="https://vk.com/sas_tmn" target="_blank")
                li(class="social__list-item  icon-facebook-1")
                  a(class="social__a" href="https://www.facebook.com/sasutmn/" target="_blank")
                li(class="social__list-item icon-instagram")
                  a(class="social__a"  href="https://www.instagram.com/sas_tmn/" target="_blank")
            div(class="contacts")
              ul(class="contacts__list")
                li(class="contacts__list-item") 
                  a(href="mailto:sas@utmn.ru") sas@utmn.ru
                li(class="contacts__list-item") +7 922 268 03 63
        h1(class="h1 h1_hello") Школа перспективных исследований представляет:<br/>“Стань лучше: тест”(пример)<br/>
          a(href="#presentation")
            span(class="arrow-down")
        //- h1(class="h1") Школа перспективных исследований запускает программу открытых лекций.<br/>Пройди наш тест и получи рекомендацию экспертов о том, какой киношедевр тебе подходит
        //- button(class="button" id="start-button") Начать тест
      section(class="presentation-screen section" id="presentation" data-anchor="presentation")
        header(class="header")
          div(class="logo")
            img(class="logo__img" src="/assets/SAS__logo_small_blue.png")
          div(class="contacts-block")
            div(class="social")
              ul(class="social__list")
                li(class="social__list-item icon-vkontakte-1")
                  a(class="social__a" href="https://vk.com/sas_tmn" target="_blank")
                li(class="social__list-item icon-facebook-1")
                  a(class="social__a" href="https://www.facebook.com/sasutmn/" target="_blank")
                li(class="social__list-item icon-instagram")
                  a(class="social__a" href="https://www.instagram.com/sas_tmn/" target="_blank")
            div(class="contacts")
              ul(class="contacts__list")
                li(class="contacts__list-item") sas@utmn.ru
                li(class="contacts__list-item") +7 922 268 03 63
        h1(class="h1") Школа перспективных исследований – это пространство “свободного образования”, место, где абитуриент становится частью мировой интеллектуальной элиты. Пройди наш мини-тест и узнай, какой фильм мы рекомендуем тебе посмотреть, чтобы стать еще лучше и быть частью нашей команды.
        button(class="button button_hidden" id="start-button") Начать тест
      section(class="test-screen section" id="test1" data-anchor="test1")
        h2(class="h2") Выбери темы лекций, которые тебе интересны:
        div(class="test-row")
          ul(class="list")
            li(class="list-item" id="1")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") «Царский недуг»: депрессия в литературе. Джон Тангни
              p(class="list-item__description") Топ лучших способов потери смысла жизни по версии мировой литературы.
            li(class="list-item" id="2")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") «Эпоха тотальной войны» – глобальный конфликт в коротком 20-м веке. Томаш Блушевич
              p(class="list-item__description") Чем мировая война отличается от обычной? И когда начнется третья? 

            li(class="list-item" id="3")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") Введение в исследования компьютерных игр. Максим Алюков
              p(class="list-item__description") Компьютерные игры: насилие, сексуальность, идентичность, образование, экономика, политика. 

            li(class="list-item" id="4")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") Воспоминания, сновидения, исповеди: изображая внутренний мир. Джон Тангни
              p(class="list-item__description") Время и память, смерть и трансцендентность, психиатрическая больница и храм. Путешествие по невероятным биографиям внутренней жизни.

            li(class="list-item" id="5")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") История и память через призму кино. Евгений Гришин
              p(class="list-item__description") История vs. историческая память. Ключевые проблемы российской истории через призму популярных фильмов.
            li(class="list-item" id="6")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") История кино. Оксана Булгакова
              p(class="list-item__description") Вторая звуковая революция, голливудские студии, нуар, авторское кино и глобализация.
      section(class="test-screen section" id="test2" data-anchor="test2")
        h2(class="h2") Выбери темы лекций, которые тебе интересны:
        div(class="test-row")
          ul(class="list")
            li(class="list-item" id="7")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") Международное право. Сурендра Бхандари
              p(class="list-item__description") Как страны взаимодействуют друг с другом, со своими гражданами и гражданами других государств? Суверенитет, государственный иммунитет и права человека.    
            li(class="list-item" id="8")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") Наука и религия: конфликт неизбежен?
              p(class="list-item__description") В чем сходства и отличия научного и религиозного знания? Интерпретации Библии, несоизмеримые теории, противоречия и гармония.
            li(class="list-item" id="9")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") Ницше: по ту сторону добра и зла и смерть бога. Закари Рейна
              p(class="list-item__description") Смерть бога, воля к истине, вечное возвращение и сверхчеловек: переоценка всех ценностей у Ницше.
            li(class="list-item" id="10")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") Политическая коммуникация. Максим Алюков
              p(class="list-item__description") Как устроены медиа и как они связаны с политическими элитами? Как телевидение, интернет и социальные сети формируют мнения и влияют на принятие решений?
            li(class="list-item" id="11")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") Почему мы верим? Наталья Савельева
              p(class="list-item__description") Почему мы верим или не верим пропаганде? Почему атрибутируем те или иные значения и смыслы различным вещам и событиям нашей жизни?
            li(class="list-item" id="12")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") Право и любовь. Закари Рейна
              p(class="list-item__description") Каковы отношения между правом и любовью? Каково место любви в праве и место права в любви? Можем ли право быть похожим на любовь?
      section(class="test-screen section" id="test3" data-anchor="test3")
        //- h2(class="h2") Выбери темы лекций, которые тебе интересны:
        div(class="test-row")
          ul(class="list")
            li(class="list-item" id="13")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") Публичная сфера и частная жизнь. Олег Журавлев
              p(class="list-item__description") Соотношение публичного и частного, коллективного и индивидуального, политического и личного в человеческой жизни.   
            li(class="list-item" id="14")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") Современная философия науки. Луи Вервурт
              p(class="list-item__description") Что такое наука и какова её цель? Как доказываются научные утверждения и делаются открытия? Какие степени истинности существуют в разных науках?
            li(class="list-item" id="15")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") Создание Европы: средневековая культура в VI-XVI вв. Питер Джонс
              p(class="list-item__description") Радикальная культура средневековой Европы: трубадуры с песнями о куртуазной любви, появление и исчезновение королевств, Крестовые походы и первые университеты.
            li(class="list-item" id="16")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") Создание экономического общества. Анил Аба
              p(class="list-item__description") Как возникла экономическая реальность, в которой мы живем? Капитализм, экономическое развитие, кризисы, бедность и глобальное неравенство – что дальше?
            li(class="list-item" id="17")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") Философия физики, или Как изобрести новую науку. Луи Вервурт
              p(class="list-item__description") Философские предположения, лежащие в основе таких великих теорий, как классическая механика, теория относительности и квантовая механика.
            li(class="list-item" id="18")
              div(class="list-item__header-wrapper")
                img(class="list-item__img" src="assets/thereisnogod.png")
                h4(class="list-item__header") Экология, технологии и аниме. Даскин Драм
              p(class="list-item__description") Изменения климата, генная инженерия, киборгизация, биоэтика и вымирание. Изучение этих и других проблем на материале японского аниме и манги.
        button(class="button button_disabled" id="end-button" ) Узнать результат
      section(class="test-results section" id="test-results" data-anchor="test-results")
        h2(class="h2") Поздравляем! Твой результат:
        div(class="test-results__flex-wrapper")
          div(class="list-item__header-wrapper list-item__header-wrapper_results")
            h3(class="list-item__header" id="results-header") "К северу через северо-запад", Альфред Хичкок
            p(class="list-item__description" id="results-descr") Приключенческо-шпионский триллер 1959 года
            div(class="share-results")
              h3(class="h3 h3_align-left h3_margin10") Поделиться:
              script(src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
              script(src="//yastatic.net/share2/share.js")
              div(class="ya-share2" data-services="vkontakte,facebook,twitter,gplus")
              //- div(class="social")
              //-   ul(class="social__list social__list_margin10")
              //-     li(class="social__list-item icon-vkontakte-1")
              //-       li(class="social__list-item icon-facebook-1")
          div(class="vk-subcribe")
            h3(class="h3 h3_align-left h3_margin1020") Вступай в нашу группу в ВК и узнавай первым о предстоящих лекциях:
            img(style="margin:10px 20px; width:300px;height:200px;" src="assets/gruppa_Vkontakte-6.gif")
          img(class="list-item__img list-item__img_results" id="results-img" src="assets/003-north-by-northwest-theredlist.jpg")
        div(class="email-subscribe")
          h3(class="h3 h3_align-left") Подпишись на рассылку Школы:
          form(class="form-subscribe" action="/subscribe" method="post")
            label(class="form-subscribe__label") E-mail:
              input(class="form-subscribe__input" type="email" name="email" required)
            input(class="form-subscribe__submit button button_small" id="form-subscribe__submit" type="submit" disabled="true" value="Подписаться")
            input(id="agreement-checkbox" type="checkbox")
            label(for="agreement-checkbox" class="form-subscribe__label") Я даю согласие на обработку своих персональных данных




    //- div(class="background")
    //- div(class="screen__filter")
